:root {
    --main-color: #0078ff;
    --main-transition: 0.3s;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1e1e1e;
}

/* Main heading */
.main-heading h2 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.main-heading p {
    color: #4e4e4e;
}

.main-heading {
    position: relative;
}

.main-heading::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 5px;
    background-color: var(--main-color);
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}


/* Start Nav */
nav {
    opacity: 0.9;
}

nav .navbar-brand {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
}

nav .container a {
    color: white;
}

nav .container:hover a,
nav .container a:focus,
nav .container a:visited {
    color: white;
}

nav .container ul>li:hover a {
    color: var(--main-color);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #0078ff;
}

.navbar-expand-lg .navbar-nav .dropdown-menu a {
    color: black;
}

nav .navbar-nav li {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.4px;
    position: relative;
    text-transform: uppercase;
    padding: 10px 0 10px 30px
}

nav .navbar-nav li a {
    padding: 0px;
}

nav .navbar-nav li a::before {
    position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    bottom: 0px;
    background-color: var(--main-color);
    transition: var(--main-transition);
}

nav .navbar-nav li:hover a::before {
    width: 50%;
}

nav .navbar-nav .dropdown .dropdown-menu {
    transition: all var(--main-transition);
    display: block;
    visibility: hidden;
    opacity: 0;
    top: 110%;
    border-radius: 0;
    border: none;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

nav .navbar-nav .dropdown:hover>.dropdown-menu {
    visibility: visible;
    opacity: 1;
}

nav .navbar-nav .dropdown .dropdown-menu li a::before {
    width: 0;
}

nav .navbar-nav .dropdown .dropdown-menu li {
    padding: 0;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    color: #4e4e4e;
}

.dropend .dropdown-two {
    font-weight: 400;
    padding: 10px 20px;
    text-decoration: none;
}

.dropend ul {
    left: 100%;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}

nav .navbar-nav .dropend:hover ul {
    visibility: visible;
    opacity: 1;
}

body:not(body:has(:target)) li a[href="#home"]::before,
body:has(.home:target) li a[href="#home"]::before,
body:has(.about:target) li a[href="#about"]::before,
body:has(.services:target) li a[href="#services"]::before,
body:has(.portfolio:target) li a[href="#portfolio"]::before,
body:has(.gallery:target) li a[href="#gallery"]::before {
    width: 50%;
}

/* End Nav */
/* Start of home */
.home {
    height: 100vh;
    background-image: url(../images/hero-bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.home .layer {
    background-color: rgba(0, 0, 0, 0.450);
    height: 100vh;
}

.home .layer .content h1 {
    font-size: 4.5rem;
    font-weight: 600;
    color: white;
}

/* Home-annimation */
.animated-text {
    width: fit-content;
}

.animated-text p {
    font-size: 2.5rem;
    text-transform: capitalize;
    font-weight: 600;
    overflow: hidden;
    color: white;
    position: relative;
}

.animated-text p::after {
    content: "developer";
    display: inline-block;
    animation: typing 6s steps(10) infinite;
    width: 0ch;
    color: white;
    right: 0;
}

.animated-text p::before {
    content: '';
    width: 2px;
    height: 100%;
    background-color: white;
    position: absolute;
    right: 0;
    animation: blinking .6s linear alternate infinite;
}

@keyframes typing {
    25% {
        content: "developer";
        width: 9ch;
    }

    40% {
        width: 0ch;
    }

    75% {
        content: "designer";
        width: 8ch;
    }

    90% {
        width: 0ch;
    }

}

@keyframes blinking {
    100% {
        opacity: 0;
    }
}

@media only screen and (max-width: 567px) {
    .home .layer .content h1 {
        font-size: 2.5rem;
    }

    .animated-text p {
        font-size: 1.5rem;
    }
}

/* Home-annimation */
/* End of home of home */
/* Start About */
.about .container {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06),
        0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.about .container .row .right-cont h2 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.2;
    position: relative;
    width: fit-content;
}

.about .container .row .right-cont h2::before {
    content: '';
    position: absolute;
    width: 75%;
    height: 5px;
    background-color: var(--main-color);
    bottom: -10px;
    left: 0;
}

.about .container .row .left-cont .profile img {
    width: 150px;
    height: 150px;
}

/* End About */
/* Start Services */
.services .card {
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
    border: none;
}

.services .card .round {
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 10px #0078ff;
    border-radius: 50%;
    transition: all 500ms ease;
}

.services .card:hover .round {
    transition: all 500ms ease;
    color: #fff;
    background-color: #0078ff;
    box-shadow: 0 0 0 10px #cde1f8;
}

.services .card .round span {
    font-size: 40px;
}

.services .card .card-body h5 {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    padding: 0.4rem 0;
    font-weight: 600;
}

.services .card .card-body p {
    color: #4e4e4e;
}

/* End Services */
/* Start counter */
.counter {
    background-image: url(../images/counters-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    position: relative;
    color: white;
}

.counter .layer {
    padding: 8rem 0;
    width: 100%;
    height: 100%;
    background-color: #0077ffbb;
}

@media only screen and (max-width: 567px) {
    .counter .layer {
        padding: 4rem 0;
    }

    .counter .layer .col {
        margin-bottom: 25px;
    }

    .counter .layer .col:nth-of-type(4) {
        margin-bottom: 0px;
    }
}

.counter .row {
    margin: 0;
}

.counter .layer .counter-box p:nth-of-type(1) {
    font-size: 2rem;
    margin-bottom: 0;
}

.counter .layer .counter-box p:nth-of-type(2) {
    font-size: 1rem;
    text-align: center;
}

.counter .layer .counter-box .round {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    line-height: 1.5;
    box-shadow: 0 0 0 10px #cde1f8;
    transition: all 500ms ease;
}

.counter .layer .counter-box .round i {
    font-size: 2rem;
}

/* End counter */
/* Start Portfolio */
.portfolio .port-main-content .card {
    overflow: hidden;
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
    margin-bottom: 3rem;
    border: none;
}

.portfolio .port-main-content .card img {
    transition: all 0.5s ease-in-out;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.portfolio .port-main-content .card:hover img {
    transform: scale(1.3);
}

.portfolio .port-main-content .card .card-body {
    background-color: white;
    position: relative;
    z-index: 1;
    padding: 2rem 3% 1rem 4%;
}

.portfolio .port-main-content .card .card-body .left-cont h5 {
    font-size: 1.2rem;
    color: #1e1e1e;
}

.portfolio .port-main-content .card .card-body .left-cont p span {
    color: var(--main-color);
}

.portfolio .port-main-content .card .card-body .left-cont p {
    color: #4e4e4e;
    font-size: 0.8rem;
}

.portfolio .port-main-content .card .card-body .right-cont span {
    color: var(--main-color);
    font-size: 2.5rem;
    cursor: pointer;
}

/* End Portfolio */
/* start Carousel */

.carsouel {
    background-image: url(../images/overlay-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    position: relative;
    color: white;
}

.carsouel .layer {
    padding: 8rem 0;
    width: 100%;
    height: 100%;
    background-color: #0077ffbb;
}

.carsouel .inner-car h3 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 1rem 0;
    display: block;
    font-size: 1.4rem;
}

.carsouel .inner-car img {
    border-radius: 50%;
}

.carsouel .carousel-indicators {
    top: 100%;
}

.carousel-indicators [data-bs-target] {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

@media (min-width: 768px) {
    .carsouel .inner-car {
        padding: 0 5rem;
    }
}

@media (min-width: 992px) {
    .carsouel .inner-car {
        padding: 0 8rem;
    }
}

@media (min-width: 1200px) {
    .carsouel .inner-car {
        padding: 0 13rem;
    }
}

/* End Carousel */